<!-- <div class="row">
    <div class="col-md-6">
        <app-product-list-with-subscribe [productData]='products$'></app-product-list-with-subscribe>
    </div>
    <div class="col-md-6">
        <app-product-list-with-async [productData]='products$'></app-product-list-with-async>
    </div>
</div> -->
<div class="row" >
    <ul class="nav nav-tabs" style="margin-left: 600px;">
        <li class="nav-item">
            <a class="nav-link" (click)='showSubscribeTable()'>Subscribe Table</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='showAsyncTable()'>Async Table</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='showMaterialTable()'>Material Table</a>
        </li>
    </ul>
</div>
<hr/>
<div  *ngIf="showSubscribe">
    <app-product-list-with-subscribe [productData]='products$'></app-product-list-with-subscribe>
</div>
<div  *ngIf="showAsync">
    <app-product-list-with-async [productData]='products$'></app-product-list-with-async>
</div>
<div  *ngIf="showMaterial">
    <app-material-table [productData]='products$'> </app-material-table>
</div>